.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*.php
application/logs/*.log

!application/logs/index.html

!application/*/.htaccess
node_modules
vendor
composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
# IDE Files
#-------------------------
/nbproject/
.idea/*
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/nbproject/private/
/application/logs/*.php
/application/logs/*.log
/nbproject
package-lock.json
assets/componentes/
.vs/*
application/config/settings.php
node_modules/*
node_modules
vendor
application/config/settings.php
application/config/database.php
application/config/config.php
